.profile {
  margin: 74px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile__form {
  width: 100%;
  max-width: 410px;
  margin-top: 123px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.profile__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.profile__input {
  display: block;
  border: none;
  background: none;
  text-align: right;
  outline: none;

  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: right;
  color: white;
  width: 90%;
  padding-bottom: 16px;
}

.profile__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__container:first-child {
  border-bottom: 1px solid #424242;
}
.profile__span {
  display: block;

  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;

  min-width: 130px;
}

.profile__btn-edit {
  margin-top: 190px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;

  background: inherit;
  border: none;
  color: white;
}

.profile__input_name {
  padding-bottom: 16px;
}

.profile__btn-out {
  margin-top: 16px;

  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;

  background: inherit;
  border: none;
  color: #ee3465;
}

@media screen and (max-width: 1279px) {
  .profile {
    margin: 236px auto 0;
  }
  .profile__form {
    margin-top: 96px;
  }

  .profile__btn-edit {
    margin-top: 180px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    margin: 70px auto 0;
  }
  .profile__form {
    margin-top: 80px;
    max-width: 260px;
  }

  .profile__btn-edit {
    margin-top: 180px;
  }
  .profile__btn-edit {
    margin-top: 350px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
  .profile__btn-out {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
}
