.header {
  margin: 0px auto 0;
  padding: 18px 70px;
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid #fbff15;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

/* .header__container {
  outline: 1px solid #f7f4f4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
} */
