.header {
  margin: 0px auto 0;
  padding: 18px 70px;
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid #fbff15; */
  align-items: center;
}

.header__logo {
  margin-left: 0;
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

.header__container {
  /* outline: 1px solid #f7f4f4; */
  display: flex;
  margin: 0 auto 0;
  grid-column-gap: 16px;
}
.header__button {
  text-decoration: none;
  border: none;
  color: #ffffff;
  margin: 0;
  padding: 0;

  transition: opacity 0.4s ease;
  cursor: pointer;
}
.header__button:hover {
  opacity: 0.6;
}

.header__link {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.header__btn-account {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #313131;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__btn-signin {
  margin-left: 30px;
  background-color: #3ddc84;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  border-radius: 3px;
  padding: 8px 20px;
  color: black;
}
