.header {
  margin: 0px auto 0;
  padding: 18px 70px;
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid #fbff15;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

.header__container {
  outline: 1px solid #f7f4f4;
  display: flex;
  margin: 0 auto 0;
}
.header__button {
  text-decoration: none;
  color: #a9a9a9;
  border: none;

  margin: 0;
  padding: 0;
  margin-top: 8px;
  background: transparent;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
.header__button:hover {
  opacity: 0.6;
  /* color: red; */
}
