.filter-checkbox {
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding-bottom: 40px;
  border-bottom: 1px solid #424242;
}

.filter-checkbox__checkbox.short {
  cursor: pointer;
  background: inherit;
  background-image: url(../../images/shortfilmon.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 44px;
  height: 14px;
}
.filter-checkbox__checkbox {
  cursor: pointer;
  background: inherit;
  background-image: url(../../images/shortfilmof.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 44px;
  height: 14px;
}
.filter-checkbox__title {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1279px) {
  .filter-checkbox {
    margin-top: 42px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .movies-cardlist {
    grid-template-columns: 1fr;
    row-gap: 39px;
  }
  .filter-checkbox {
    margin-top: 47px;
  }
}
