.about-project {
  padding: 110px 70px;
}
.about-project__header {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;

  border-bottom: solid #dadada 1px;
  padding-bottom: 23px;
}

.about-project__grid {
  padding-top: 70px;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 40px;
  grid-row-gap: 26px;
}

.about-project__description-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  height: 24px;
}

.about-project__description-subtitle {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.about-project__deadline {
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  /* outline: 1px solid #fbff15; */
}
.about-project__green-line {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background: #3ddc84;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-project__grey-line {
  background: #303030;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-project__text {
  color: #8b8b8b;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
