.about-me {
  padding: 110px 70px 100px;
}

.about-me__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;

  border-bottom: solid #dadada 1px;
  padding-bottom: 22px;
  margin-bottom: 66px;
}

.about-me__name {
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-me__subtitle {
  margin-top: 18px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__description {
  margin-top: 26px;
  max-width: 600px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__link {
  display: block;
  margin-top: 99px;
  text-decoration: none;
  color: white;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;

  letter-spacing: 0em;
  text-align: left;
}

.about-me__avatar {
  background-image: url(../../images/pic__COLOR_pic.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
}

@media screen and (max-width: 769px) {
  .about-me {
    padding: 90px 50px 90px;
  }
  .about-me__name {
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .about-me__subtitle {
    margin-top: 16px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  .about-me__description {
    margin-top: 20px;
    max-width: 364px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  .about-me__avatar {
    width: 255px;
  }
  .about-me__link {
    display: block;
    margin-top: 87px;
    text-decoration: none;
    color: white;
  }
}
